<ng-container *ngIf="cartItem && cartItem.product && index !== undefined">
    <td>{{ index + 1 }}</td>
    <td>
        <img [src]="cartItem.product.photo" class="img-thumbnail" 
            [alt]="cartItem.product.photo" width="150"/>
    </td>
    <td>
        <h5 class="card-title">{{ cartItem.product.name | uppercase }}</h5>
        <p class="card-text">{{ cartItem.product.description }}</p>
        <h6>Source: {{ cartItem.product.source }}</h6>
    </td>
    <td><h6>Quantity: {{ cartItem.product.quantity }}</h6></td>
    <td><h6>Price: {{ cartItem.product.price | currency:'RM' }}</h6></td>
    <td>
        <input type="text" name="requiredQuantity" id="requiredQuantity" 
            #requiredQuantity maxlength="3" size="3" 
            [value]="cartItem.requiredQuantity"/>&nbsp;
        <button class="btn btn-primary" (click)="update(cartItem, requiredQuantity)">
            Update</button>&nbsp;
        <button class="btn btn-danger" (click)="delete(cartItem)">Delete</button>
    </td>
</ng-container>