<div class="row" *ngIf="isRegistration">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Registration</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstname"
                        placeholder="First Name" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname"
                        placeholder="Last Name" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                        placeholder="Email" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        [(ngModel)]="user.password" placeholder="Password" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-success" (click)="doRegistration()">Register me !!!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!isRegistration">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Registration - Success</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>&nbsp;&nbsp;
                    <label for="firstname" class="form-label"><b>{{ user.firstname }}</b></label>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>&nbsp;&nbsp;
                    <label for="lastname" class="form-label"><b>{{ user.lastname }}</b></label>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>&nbsp;&nbsp;
                    <label for="email" class="form-label"><b>{{ user.email }}</b></label>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>&nbsp;&nbsp;
                    <label for="password" class="form-label"><b>{{ user.password }}</b></label>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success" (click)="doHome()">
                        << back to registration</button>
                </div>
            </div>
        </div>
    </div>
</div>