<div class="row">
    <div class="col-12">
        <div class="alert alert-danger" *ngIf="message">{{ message }}</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th colspan="2">Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of shoppingCart; let i = index"
                    class="app-shopping-cart-item" [cartItem]="cartItem" [index]="i"
                    (updateNotify)="update($event)" (deleteNotify)="delete($event)">
                </tr>
            </tbody>
        </table>
    </div>
</div>